<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ceuilisa.mirai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".activities.GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme"></activity>


        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.PlayListDetailActivity" />
        <activity android:name=".activities.PlayListActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MusicActivity" />
        <activity android:name=".activities.CoverDetailActivity" />
        <activity android:name=".activities.PlayHistoryActivity" />
        <activity android:name=".activities.CommentActivity" />
        <activity android:name=".activities.DownloadActivity" />
        <activity android:name=".activities.UploadImageActivity" />
        <activity android:name=".activities.TestActivity" />
        <activity android:name=".activities.WithPanelActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.SingleFragmentActivity" />
        <activity android:name=".activities.SearchUserActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.LoginActivity" />
    </application>

</manifest>